@import 'variables';

.main {
	font: 16px / 1 Arial;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.button{
  z-index: 1000;
	background-color: black;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 2em;
	position: relative;
	z-index: $z-nav;
}

.black{
	.button{
		background-color: white;
	}
}

.counter{
	padding: 2em 0;
	height: 7em;
	width: 100%;
	text-align: center;
	position: relative;
	font-size: 12px;
}

.carousel--image{
	width: 70vw;
	height: 70vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;

	.img-wrap{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	div{
		max-height: 100%;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
	}

	span{
		position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	// span{
	// 	height: 100%;
	// 	// display: flex;
	// 	// justify-content: center;
	// 	// align-items: center;
	// }

	img{
		max-width: 100%;
		max-height: 100%;
	}

  span > img{
    max-width: 100%;
    max-height: 100%;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
	margin-top: 5em;
	overflow: hidden;

		&--image {
			border: 1px solid #fff;
			position: relative;
		}
}
//
// .animation {
// 	&-enter {
// 			opacity: 0.1;
// 			transition: opacity .1s;
//
// 			&.animation-enter-active {
// 				opacity: 1;
// 			}
// 	}
//   // enter
//
// 	&-leave {
// 			opacity: 1;
// 			transition: opacity .1s;
//
// 			&.animation-leave-active {
// 				opacity: 0;
// 			}
// 	}
//     // leave
// }
// // animation

// .animation {
//
// 	&--next {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
//
// 		&-enter {
// 			transform: translate(200%,0);
// 			transition: transform 1s;
//
// 			&.animation--next-enter-active {
// 				transform: translate(0,0);
// 			}
// 		}
//
// 		&-leave {
// 			left: 0;
// 			position: absolute;
// 			top: 0;
// 			transform: translate(0,0);
// 			transition: transform 1s;
//
// 			&.animation--next-leave-active {
// 				transform: translate(-200%,0);
// 			}
// 		}
// 	}
//
// 	&--previous {
//
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		height: 100%;
//
// 		&-enter {
// 			transform: translate(-200%,0);
// 			transition: transform 1s ease-in-out;
//
// 			&.animation--previous-enter-active {
// 				transform: translate(0,0);
// 			}
// 		}
//
// 		&-leave {
// 			left: 0;
// 			position: absolute;
// 			top: 0;
// 			transform: translate(0,0);
// 			transition: transform 1s ease-in-out;
//
// 			&.animation--previous-leave-active {
// 				transform: translateX(10%);
// 			}
// 		}
// 	}
// }

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  // transition: height .5s ease-in-out;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height 0s ease-in-out;
}

.load-appear {
  opacity: 0.01;
}

.load-appear.load-appear-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}
